In [ ]:
print("Halo")

Halo

In [ ]:
# Code in here
...
biji_kopi = "Ethiopian Coffee Beans"
harga_biji = 115_500

alat_kopi = "V60"
harga_alat = 95_500

print(f"Biji Kopi yang diberli oleh James Hoffman adalah {biji_kopi} dengan harga Rp {harga_biji}")
print(f"Alat yang digunakan oleh James Hoffman adalah {alat_kopi} dengan harga Rp {harga_alat}")

Biji Kopi yang diberli oleh James Hoffman adalah Ethiopian Coffee Beans dengan harga Rp 115500
Alat yang digunakan oleh James Hoffman adalah V60 dengan harga Rp 95500

In [ ]:
numb_1 = "3.14"
numb_1 = float(numb_1)
print(type(numb_1))
numb_1 = int(numb_1)
print(type(numb_1))

<class 'float'>
<class 'int'>

In [ ]:
# Jawab disini

# definisikan upah per jam sebagai variabel konstant
...
UPAH_PER_JAM = 30_000

# upah joko
# definisikan nama variabel untuk menampung nama karyawan 1 atau Joko
...
nama_karyawan_1 = "Joko"

# definisikan variabel untuk menampung jam kerja karyawan 1
...
jam_kerja_karyawan_1 = 44

# hitung upah kotor karyawan 1
...
upah_kotor_karyawan_1 = jam_kerja_karyawan_1 * UPAH_PER_JAM

# tampilkan upah kerja (kotor) karyawan 1
...
print(f"Upah kerja (kotor) {nama_karyawan_1} Rp {upah_kotor_karyawan_1}")

# untuk karyawan yang lain, lakukan seperti code di atas

# upah Alex
...
nama_karyawan_2 = "Alex"
jam_kerja_karyawan_2 = 44
upah_kotor_karyawan_2 = jam_kerja_karyawan_2 * UPAH_PER_JAM
print(f"Upah kerja (kotor) {nama_karyawan_2} Rp {upah_kotor_karyawan_2}")

# upah Chandra
...

# upah Hartono
...

# upah Samsul
...

Upah kerja (kotor) Joko Rp 1320000
Upah kerja (kotor) Alex Rp 1320000

Ellipsis

In [ ]:
word = "BANGKIT LEBIH CEPAT, PULIH LEBIH KUAT"
word = word.replace("BANGKIT","BANG")
word = word.replace("PULIH","PUL")
print(word)

word = word.replace("BANG","PULIH")
print(word)
word = word.replace("PUL ","BANGKIT ")
print(word)

BANG LEBIH CEPAT, PUL LEBIH KUAT
PULIH LEBIH CEPAT, PUL LEBIH KUAT
PULIH LEBIH CEPAT, BANGKIT LEBIH KUAT

In [ ]:
n = int(input())
print(*range(1,n+1),sep="")

7
1234567

In [ ]:
umur = int(input())

if umur >=0 and umur <=5:
  print('balita')
else:
  print('kelompok umur lain')

6
kelompok umur lain

Hasil Belajar dari Pacmann BI Engineer
###***Variabel***



Variabel adalah tempat untuk menyimpan nilai ataupun data

nama_variabel = <nilai>

Contoh penamaan variabel yg baik adalah:

diameter_lingkaran

dan bukan diameter_lingkaran_yang_ini

Beberapa hal yg harus diperhatikan dari membuat variabel adalah berikut:



1.   Jangan gunakan nama variabel yg terlalu pendek
2.   Nama variabel yg tidak mengambarkan isi dari dari variabel
3.   Nama variabel yg didahului oleh angka
4.   Nama variabel yg diawali dg simbol seperti "%" dll
5.   Tidak memperhatikan nama variabel sehingga memunculkan pengulangan variabel di penggunaan variabel selanjutnya
6.   Sistem penamaan variabel di python menggunakan snack case, yaitu cara penulisan dg mengganti "Space" menjadi "underscore""_" contoh variabel_satu

## Kiat Printing

In [ ]:
#sistem printing dg menggunakan format baru dan lama
#format baru menggunakan perintah %s (untuk string) dan %d (untuk angka)

umur = 23
nama = "Budi"

print("saya %s dan saya berumur %d tahun"%(nama,umur))

#format baru cukup seperti ini penulisannya

print(f"saya {nama} dan saya berumur {umur} tahun")

saya Budi dan saya berumur 23 tahun
saya Budi dan saya berumur 23 tahun

In [ ]:
#komen di python ada 2 jenis, yaitu inline (menngunakan tanda tagar "#")
#dan multi line comment menggunakan tanda

"""
ini adalah contoh penggunaaan multi line comment di python
biasa digunakan untuk menjelaskan atau menulis deskripsi panjang mengenai
codingan yg kita buat, sehingga orang setelah kita dapat memahami
codingan kita dengan baik

"""

'\nini adalah contoh penggunaaan multi line comment di python\nbiasa digunakan untuk menjelaskan atau menulis deskripsi panjang mengenai\ncodingan yg kita buat, sehingga orang setelah kita dapat memahami\ncodingan kita dengan baik\n\n'

In [ ]:
"""
jenis data di python untuk sementara ini ada 3 jenis, yaitu
1. string (kalimat, kata atau sesuatu yg bukan bilangan yg bisa dihitung)
2. integer (angka bulat yg bisa dihitung)
3. float (angka decimal)
"""

#penulisannya adalah berikut
print(type(6))

str = "apapun sih" #string
int = 5 #integer
float = 5.2

print(type(str))
print(type(int))
print(type(float))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
'''
operator atau operasi matematika di python ditulis menggunakan simbol berikut:
+ = untuk pertambahan
- = untuk pengurangan
* = untuk perkalian
/ = untuk pembagian
// = untuk floor devision alias pembagian khusus integer
      untuk pembagian dg pembulatan angka ke bawah
% = untuk modulo (seperti sisa dari pembagian)
      misal 7/3 =2,3 tapi sidanya adalah 1 sehingga jika menggunakan % hasilnya
      adalah 7%3 = 1
** = untuk pangkat

'''

print(7%3)

1

In [ ]:
'''
Urutan pemrosesan pengerjaan matematika di python adalah berikut:
PEMDAS:
P = Parentheses ~ tanda kurung ()
E = Exponensial ~ pangkat **
M = Multiplication, Division ~ * | / | // | %
DAS = Addition, Subraction ~ + -
'''
#contoh
print(2+2**(4%2))

'''
sebagaimana contoh di atas, kita bisa lihat bahwa yg dahulu dikerjakan adalah
yg ada dalam urutan PEMDAS
'''

3

In [ ]:
'''
String Operator
string di python juga menggenal proses operasi layaknya integer yg ada PEMDAS

Operasi String python adalah berikut:

contoh:
'''
string1 = 'data'
string2 = 'science'

CONCATENATION = string1 + string2
print(f"berikut adalah contoh concatenation '{CONCATENATION}' ")

REPETITION = string1 + string2 *2
print(f"berikut adalah contoh repetition '{REPETITION}' ")

SLICING = (string1 + string2)[0:7]
# string[start:stop]
print(f"berikut adalah contoh slicing '{SLICING}' ")

berikut adalah contoh concatenation 'datascience'
berikut adalah contoh repetition 'datasciencescience'
berikut adalah contoh slicing 'datasci'

In [ ]:
# String pada python juga mengenal list (urutan huruf dalam string)
# penulisannya adalah:
print('string'[1])

#dihitung mulai dari angka "0" sebagai urutan pertama
# hasil diatas adalah huruf ke-(sesuai angka yg dimasukan dari kata string)

aku ="firefox"
print(aku[3])
print(aku[1:]) #ambil semua huruf sebanyak angka dari depan [3:]
print(aku[:3]) #ambil semua huruf sebanyak angka dari belakang [:3]
print(aku[-1]) # hitung -1 nya dari paling belakang

t
e
irefox
fir
x

### Boolean

In [ ]:
'''
!= artinya tidak sama dengan
== artinya sama dengan

> lebih besar dari
< lebih kecil dari
> = lebih dari / sama dengan
< = kurang dari / sama dengan
'''
nama_produk = "johan"
nama_penerima = "johan"

print(nama_produk == nama_penerima)
print(nama_produk != nama_penerima)

'''
Jika melakukan comparing antar string maka yg diukur adalah banyak karakter
'''
judul_film1 = "bersama angin"
judul_film2 = "bersama awan"

print(judul_film1 > judul_film2)

True
False
False

Boolean logic sederhana untuk memprosesnya adalah berikut:
* AND
* OR
* NOT

### AND
True AND True = True
True AND False = False
False AND True = False

### OR

True OR True = True
False OR True = True
False OR False = False

### NOT
adalah negasi (penyangkalan) dari nilai sebelumnya. Penyangkalan adalah peniadaan dari suatu pernyataan.

Jika sebelumnya **TRUE** maka hasilnya jadi **FALSE** dan sebaliknya

Umumnya **NOT** digunakan berbarengan dengan AND dan OR



---

Uurtan operasi logika python adalah berikut:


1.   Parentheses () dalam kurung
2.   Exponents ** pangkat
3.   Multiplication *, Division /, //, %
4.   Addition +, Subraction -
5.   Comparison and equalitiy <,>,=,==,!=
6.   Not
7.   And
8.   Or

In [ ]:
3%2

1

# Coba


---

In [ ]:
# load an example dataset
from vega_datasets import data
cars = data.cars()

import altair as alt

interval = alt.selection_interval()

points = alt.Chart(cars).mark_point().encode(
  x='Horsepower',
  y='Miles_per_Gallon',
  color=alt.condition(interval, 'Origin', alt.value('lightgray'))
).properties(
  selection=interval
)

histogram = alt.Chart(cars).mark_bar().encode(
  x='count()',
  y='Origin',
  color='Origin'
).transform_filter(interval)

points & histogram

alt.VConcatChart(...)



---

# Error Debugging & Clean Code

In [ ]:
import pdb
list_a = ["a","b","c"]

#pdb.set_trace()

for i in list_a:
  print(i)

a
b
c

In [ ]:
try:
  print(x)
except:
  print("Gagal")
else:
  print("Berhasil")
finally:
  print("The 'try except' is finished")

Gagal
The 'try except' is finished

Except pada python bisa dibuat bertingkat atau berkategori sesuai dg jenis eror nya sesuai dg jenis "built-in exception"

In [ ]:
y = 123

try:
  print(c)
except ZeroDivisionError as e:
  print("error")
  print(e)
except NameError as e:
  print("error")
  print(e)
else:
  print("berhasil")
finally:
  print("done")

error
name 'c' is not defined
done

Pada contoh di atas print(c) adalah sebuah kesalahan yg disebabkan oleh salah nama variabel maka except yg digunakan adalah except "NameError" bukan except "ZeroDivisionError"

In [ ]:
y = 123/0

try:
  print(c)
except Exception as e:
  print("error")
  print(e)
else:
  print("berhasil")
finally:
  print("done")

ZeroDivisionError: division by zero

In [ ]:
# isi titik - titik di bawah ini
...
produk_motor = {
    "Suzuki Hayabusa": "2005",
    "Ducati Monster": "2012",
    "Honda CB1000": "2013",
}
try:
  for produk, tahun in produk_motor.items():
    print(f"Motor Sport: {produk} diproduksi pada tahun {tahun}")
except Exception as e:
  print("error")
  print(e)

Motor Sport: Suzuki Hayabusa diproduksi pada tahun 2005
Motor Sport: Ducati Monster diproduksi pada tahun 2012
Motor Sport: Honda CB1000 diproduksi pada tahun 2013

In [ ]:
# isi titik - titik di bawah ini
...
def menghitung_pajak():
  pajak = 0.05
  while True:
        penghasilan = int(input("Masukan Penghasilan Anda : "))
        biaya_pajak = penghasilan * pajak
        total_akhir = penghasilan - biaya_pajak
        print(f"Pajak yang harus dibayar adalah {biaya_pajak}, sehingga total akhir penghasilann adalah {total_akhir}")
        break

In [ ]:
menghitung_pajak()

Masukan Penghasilan Anda : 45_000
Pajak yang harus dibayar adalah 2250.0, sehingga total akhir penghasilann adalah 42750.0

#Branching

Branching pada dasarnya adalah penggunaan fungsi if, else, dll yang fungsinya untuk membuat cabang pilihan atau opsi dari kondisi khusus pada program yang kita buat.

**Branching**
Percabangan yg berfungsi untuk memberikan kontrol kategori pada program

![Screenshot 2024-06-21 062824.png]()

sistemnya itu seperti ini:

* Jika saya A maka A, Jika bukan maka saya adalah B

Atau contoh lain:
* Jika suhu saya di atas 38 derajat celcius maka saya sakit, jika di sama/di bawah maka saya tidak sakit

hal di atas bisa disederhanakan dalam kode menjadi seperti di bawah ini:


```
if my_temp > 38:
  print("Saya sakit")
else:
  print("tidak sakit")
```

In [ ]:
#Contoh Kasus:
"""
Murid punya nilai 80, jika nilai lebih dari 70 maka outputnya keluar "lulus"
"""

nilai = 80

if nilai > 70:
  print("lulus")
  print(f"karena nilai murid adalah {nilai} maka ia lulus")

lulus
karena nilai murid adalah 80 maka ia lulus

In [ ]:
# contoh if/else

n = int(input())
if n % 2 == 0:
  print("genap")
else:
  print("ganjil")

23
ganjil

elif adalah gabungan dari *else + if* dan hanya muncul jika kondisinya ada lebih dari 2 kondisi

In [ ]:
"""
1. jika uang saya 100_000 saya makan steak
2. jika uang saya 50_000 saya makan spaghetti
3. jika kurang dari 50_000 saya makan nasi goreng
"""

uang = int(input())

if uang >= 100_000:
  makan ="steak"
elif uang >= 50_000:
  makan ="spaghetti"
else:
  makan ="nasi goreng"

print(f"uang saya hanya ada {uang}, maka saya makan {makan}")

70_000
uang saya hanya ada 70000, maka saya makan spaghetti

In [ ]:
"""
welcome page untuk aplikasi e-learning
admin pada aplikasi ada 2, yaitu:
- RayhanNaufal
- AriefRahman

selain 2 username di atas maka semuanya adalah user
"""
username = input()
admin = ["RayhanNaufal","AriefRahman"]

if username in admin :
  print(f"Selamat datang administrator {username}")
else:
  print(f"Selamat datang {username}")

AriefRahman
Selamat datang administrator AriefRahman

In [ ]:
"""
Menentukan jurusan kuliah berdasarkan kampus yg dipilih
"""

kampus_pilihan = input()

if kampus_pilihan == "ITB":
  print("jurusan FMIPA")
elif kampus_pilihan == "UI":
  print("jurusan Statistik")
else:
  print("mencari kampus lain")

ITB
jurusan FMIPA

In [ ]:
'''
Aplikasi login website kampus
'''

# menentukan apakah yg login mahasiswa / karyawan

user = input()
karyawan = ['petugas','dosen']

if user in karyawan:
  print(f'Halo, Selamat datang {user}')
elif user == 'mahasiswa':
  print('Halo, Selamat datang Mahasiswa')
else:
  print('user tidak ditemukan')

mahasiswa
Halo, Selamat datang Mahasiswa

**nested branching** -- adalah kondisi dimana suatu pernyataan bercabang memiliki pernyataan cabang lagi di dalamnya

* umum digunakan untuk permasalahan yang kompleks
* nested if kurang disarankan terumtama yg telalu panjang karena rawan human error dan membuat kesulitan saat membaca kodenya

In [ ]:
'''
Latihan diagnosa pasien dari seorang dokter
'''

# input
ya = True
tidak = False

print('apakah anda sakit flu')
flu = input()

if flu == 'ya':
  print('apakah anda sakit tenggorokan')
  tenggorokan = input()
  if tenggorokan == 'ya':
    print('apakah anda mual')
    mual = input()
    if mual == 'ya':
      print('pasien sakit tonsilitas')
    else:
      print('pasien sakit radanng tenggorokan')
  else:
    print('pasien sakit flu biasa')
else:
  print('pasien tidak sakit')

apakah anda sakit flu
ya
apakah anda sakit tenggorokan
tidak
pasien sakit flu biasa

#Composite Data Structure

Tipe data di python terbagi atas 2 hal, yaitu primitive dan composite. Primitive adalah tipe data paling dasar yg ada di semua dasar data pemrograman. Kita mengenalnya dengan karakter seperti string, interger, float, dan sebagainya.

Tapi tipe data primitive ini tidak dapat mengakomodasi kebutuhan kita akan struktur data yg kompleks sehingga kita perlu belajar composite data struktur.

**Composite Data Structure** adalah sekumpulan data primitive, boleh dari 1 jenis yg sama atau campuran dari berbagai tipe data. Contohnya adalah list, tuple, set, dictionary

#List

caranya adalah dengan menggunakan tanda kurung siku []
dipisahkan oleh koma ","
untuk data berupa string maka tetap menggunakan tanda kutip ""

Variabel dalam python juga bisa menggunakan list sebaagi isinya.

In [ ]:
'''
Cara membuat list
'''
[1,2,3,4]
["saya","kamu","dia"]

'''
caranya adalah dengan menggunakan tanda kurung siku []
dipisahkan oleh koma ","
untuk data berupa string maka tetap menggunakan tanda kutip ""

Variabel dalam python juga bisa menggunakan list sebaagi isinya.
'''

angka = [1,2,3,4]
print(angka)

nama = ["fariz",
        "kiki",
        "budi"]
print(nama)
print(type(nama))

[1, 2, 3, 4]
['fariz', 'kiki', 'budi']
<class 'list'>

Element adalah nilai atau data yang ada di dalam list.
* list tidak berisi elemen apapun
* cara membuatnya dg menggunakan **[ ]**
* atau bisa juga menggunakan printah **list( )**

list bisa disusun dg data yg seragam (homogen) dan juga data yg beragam (heterogen)

Contoh:

[27,'pria',50_000]

Bahkan list juga bisa menyimpan list yg lain

In [ ]:
ini_list = ['Kucing',[7,8,9],['pria',27]]
print(ini_list)

['Kucing', [7, 8, 9], ['pria', 27]]

List mengenal **indexing**
Ingat, indeks pada python dimulai dari 0

Contoh:

urutan kata: saya suka makan ikan
indeksnya adalah : saya = 0 , suka = 1 , makan = 2 , ikan = 3

Indeks juga mengenal **slicing**
caranya adalah menggunakan formula berikut:


```
NAMA_LIST[start:stop]
```
start = indeks mulai
stop = indeks akhir - 1

In [ ]:
contoh_list = ['saya','suka','makan','ikan']
print('ini adalah contoh index')
print(contoh_list[0])
print(contoh_list[1])
print(contoh_list[2])
print(contoh_list[3])

print(f'indeks ke-0 adalah {contoh_list[0]}')
print(f'indeks ke-1 adalah {contoh_list[1]}')
print(f'indeks ke-2 adalah {contoh_list[2]}')
print(f'indeks ke-3 adalah {contoh_list[3]}')

print('ini adalah contoh slicing')
print(contoh_list[1:3])

print('ini contoh mutable list alias cara mengubah isi list')
contoh_list[1] = 'tidak suka'
print(contoh_list)

print(contoh_list[1:])
print(contoh_list[:4])
print(contoh_list[-1])

ini adalah contoh index
saya
suka
makan
ikan
indeks ke-0 adalah saya
indeks ke-1 adalah suka
indeks ke-2 adalah makan
indeks ke-3 adalah ikan
ini adalah contoh slicing
['suka', 'makan']
ini contoh mutable list alias cara mengubah isi list
['saya', 'tidak suka', 'makan', 'ikan']
['tidak suka', 'makan', 'ikan']
['saya', 'tidak suka', 'makan', 'ikan']
ikan

List juga bisa melakukan operasi matematika

In [ ]:
list_1 = [1,2,3,4]
list_2 = [5,6,7,8]

print(list_1 + list_2)
print(list_1 * 2)
print(list_1[1] *2)

ada beberapa perintah dan metode yg biasa digunakan untuk mengolah list, yaitu:

  
misal list_1 = [1,2,3,4]
* untuk mengetahui panjang list:
```
len()
len(list_1)
print(len(list_1))
#hasilnya adalah 4
```

* memasukan element baru dalam list
```
NAMA_LIST.append(value_baru)
list_1 = list_1.append(6)
print(list_1)
#hasilnya = [1,2,3,4,6]
```

* memasukan element baru ke dalam list
```
NAMA_LIST.insert(index,value)
list_1.insert(1,"apa ya")
print(list_1)
# hasilnya = [1,"apa ya".2.3.4]
```

* untuk mengecek apakah item yang kita cari ada dalam list atau tidak
```
# in
# contoh
3 in list_1
# hasilnya TRUE
```

* mencari index element di dalam list
f(x) untuk mengetahui nomor index dari element yg kita cari
```
# rumusnya
NAMA_LIST.index('kata kunci yg dicari (bisa str/int dll')
# index(value)
list_2.index('string_3')
```

* menghitung berapa kali muncul kata yg kita cari dalam sebuah list
```
# rumusnya
NAMA_LIST.count(int/str yg kita ingin tahu jumlah kemunculannya)
```
```
list_1.count(4)
#hasilnya = 1
```

* Mengeluarkan/menghapus element dari index
```
#rumusnya
NAMA_LIST.remove(str/int yg mau dihapus)
```

* mengeluarkan atau menghapus element dari suatu index
```
# rumusnya
NAMA_LIST.pop(index yg mau dihapus)
```

In [ ]:
#misal
list_1 = [1,2,3,4]
list_2 = ['aku','kamu','mereka']

In [ ]:
#hitung panjang list
len(list_1)
print(len(list_1))
print(len(list_2))

4
3

In [ ]:
#memasukan element baru pada list
list_2.append('siapa')
print(list_2)

list_1.append(12)
print(list_1)

['aku', 'dia', 'dia', 'kamu', 'siapa']
[44, 1, 2, 3, 4, 12, 44, 12]

In [ ]:
#memasukan element baru sesuai index
list_2.insert(1,'dia')
print(list_2)

list_1.insert(0,44)
print(list_1)

['aku', 'dia', 'dia', 'dia', 'kamu', 'siapa']
[44, 44, 1, 2, 3, 4, 12, 44, 12]

In [ ]:
'dia' in list_2

True

In [ ]:
44 in list_1

True

In [ ]:
list_2.index('aku')

0

In [ ]:
list_1.append(44)
list_1.count(44)

2

In [ ]:
list_1

[1, 2, 3, 4, 12, 44, 44]

In [ ]:
list_1.remove(44)
list_1

[1, 2, 3, 4, 12, 44]

In [ ]:
list_2.pop(2)
list_2

['aku', 'dia', 'dia', 'kamu', 'siapa']

Exersice

In [ ]:
karyawan = ['Joko',
            'Alex',
            'Chandra',
            'Hartono',
            'Samsul']
karyawan

['Joko', 'Alex', 'Chandra', 'Hartono', 'Samsul']

In [ ]:
# Joko dan Alex resign
karyawan.remove("Joko")
karyawan.remove("Alex")
karyawan

['Chandra', 'Hartono', 'Samsul']

In [ ]:
# kemudian perusahaan merekrut 2 orang, yaitu Agus dan Toni

karyawan.append("Agus")
karyawan.append("Toni")
karyawan

['Chandra', 'Hartono', 'Samsul', 'Agus', 'Toni']

#Dictionary

sama seperti list, akan tetapi dictionary mengenal keys.
Dictionary merupakan **pemetaan antara sebuah index yg disebut dg keys dan sebuah value**. Hubungan ini disebut ***key-value pair* ***

* Lambang dictionary pada python adalah "{ }"
* Key dan value pada setiap element dipisahkan oleh tanda titik dua ":"
* Pemisah antar element menggunakan tanda koma ","

```
# Contoh
NAMA_DICT = {'Nama': 'Bob',
              'Umur':25,
              'Profesi':'Dev',
              'Kota':'Bekasi'}
```

In [ ]:
NAMA_DICT = {'Nama': 'Bob',
              'Umur':25,
              'Profesi':'Dev',
              'Kota':'Bekasi'}
NAMA_DICT

{'Nama': 'Bob', 'Umur': 25, 'Profesi': 'Dev', 'Kota': 'Bekasi'}

In [ ]:
type(NAMA_DICT)

dict

In [ ]:
print(type(NAMA_DICT))

<class 'dict'>

Dictionary punya sifat yang sama dengan list, yaitu:

* sama-sama bisa dibaca sebagai variabel
* bisa menampung berbagai macam tipe data

In [ ]:
# bisa menampung berbagai macam tipe data
mix_dict = {1:2,
            'kota':'Surabaya',
            'matriks':[1,2,3]}
mix_dict

{1: 2, 'kota': 'Surabaya', 'matriks': [1, 2, 3]}

In [ ]:
# jika key mempunyai duplikat, maka yg akan dikeluarkan adalah element key terakhir
# sama seperti cara kerja python

hewan_dict = {1:'ayam',2:'ayam',1:'ayam'}
hewan_dict

{1: 'ayam', 2: 'ayam'}

Dictionary pada python bisa dibuat kosong, atau istilahnya **empty dictionary**

rumusnya adalah
```
nama_dict = {}
```
Key pada dictionary bisa bekerja sebagaimana index pada list

```
nama_dict[key]
```

In [ ]:
print(hewan_dict[2])
print(mix_dict['kota'])

ayam
Surabaya

Dictionary pada python memiliki 2 sifat, yaitu *mutable* dan *immutable* alias bisa diubah dan tidak bisa diubah.

```
Dictionary = {key:value}
```
pada umumnya terdiri atas key dan value yang ditulis seperti notasi di atas.

* Key pada dictionary sifatnya *immutable*
* value pada dictionary sifatnya *mutable*

Rumusnya:
```
NAMA_DICT[key] = value_baru
```

In [ ]:
print(hewan_dict)
hewan_dict[1]='buaya'
hewan_dict

{1: 'ayam', 2: 'ayam'}

{1: 'buaya', 2: 'ayam'}

###Dictionary Methods

* Mengetahui panjang
```
len(nama_dict)
```

* mendapatkan element menggunakan key
```
NAMA_DICT.get(nama_key)
```

* mendapatkan semua key
```
NAMA_DICT.keys()
```

* mendapatkan semua value
```
NAMA_DICT.values()
```

* mengeluarkan/menghapus key dan value
```
NAMA_DICT.pop(nama_key)
```

* menambah/menggabungkan data
```
NAMA_DICT.update(nama_dict_yg_akan_digabung)
```

* membuat duplikasi
```
NAMA_DICT.copy()
```

* menghapus semua key dan value
```
NAMA_DICT.clear()
```

In [ ]:
#Latihan dan pembuktian dictionary methods
warna_buah = {'pisang':'kuning',
              'apel':['hijau','merah'],
              'naga':'ungu'}

#mengetahui panjang
len(warna_buah)

#mendapatkan element menggunakan key
warna_buah.get('apel')

#mendapatkan semua key
warna_buah.keys()

#menghapus/mengeluarkan key & value
warna_buah.pop('apel')

#menambah/menggabungkan dict lain
warna_lampu = {'jalan':'hijau',
               'hati-hati':'kuning',
               'stop':'merah'}

warna_buah.update(warna_lampu)

#membuat duplikasi/kopian dari dict
warna_buah_baru = warna_buah.copy()


#menghapus semua key dan value
warna_buah.clear()

warna_buah_baru

{'pisang': 'kuning',
 'naga': 'ungu',
 'jalan': 'hijau',
 'hati-hati': 'kuning',
 'stop': 'merah'}

In [ ]:
# mini exercise

metrics_accuracy = {'linear reg':85,
                    'SVM':88,
                    'Decision Tree':90,
                    'Random Forest':95}
print(f"Isi metrics tersebut adalah {metrics_accuracy.keys()}")
print(f"Nilai model ML untuk Linear Regression: {metrics_accuracy['linear reg']}")
print(f"Nilai model ML untuk SVM: {metrics_accuracy['SVM']}")
print(f"Nilai model ML untuk Decision Tree: {metrics_accuracy['Decision Tree']}")
print(f"Nilai model ML untuk Random Forest: {metrics_accuracy['Random Forest']}")

Isi metrics tersebut adalah dict_keys(['linear reg', 'SVM', 'Decision Tree', 'Random Forest'])
Nilai model ML untuk Linear Regression: 85
Nilai model ML untuk SVM: 88
Nilai model ML untuk Decision Tree: 90
Nilai model ML untuk Random Forest: 95

#Tuple

Tuple ini sama dengan list tapi versi yg tidak dapat diubah (alias *immutable*)

Rumusnya pun seperti ini:
```
NAMA_TUPLE = (nilai 1, nilai 2)
```

In [ ]:
nama_tuple = (1,2,3,4,5)
print(nama_tuple)
print(type(nama_tuple))

# GIT (VCS)
VCS adalah *version control system* yang fungsinya adalah untuk menyimpan dan melacak perubahan dari suatu file yg kita miliki

Ini mirip dengan memberikan penamaan pada file kita seperti berikut ini:
* Versi 1
* versi 2
* dst

nah versi 1, 2, dst adalah versi dari file kita
dan VCS adalah layanan untuk menyimpan semua perubahan riwayat terebut sehingga memudahkan kita saat berkolaborasi dan menelusuri hasil kerja coding kita.

GIT sangat berguna untuk industri IT terlebih dalam IT Project seperti:

* pembuatan website
* library
* modul pembelajaran pemrograman

### GitHub
sebuah website untuk menyimpan server git repository

Pacflix tugas study case pacman untuk layanan streaming

https://github.com/ihdarsyd/pacflix_live1.git

In [ ]:
import tabulate as tbls
from tabulate import tabulate

data = [
    ["nama","umur","kota"],
    ["fariz",30,"jakarta"],
    ["kiki",29,"surabaya"],
]

print(tbls.tabulate(data,headers="firstrow"))

nama      umur  kota
------  ------  --------
fariz       30  jakarta
kiki        29  surabaya